<div id="<%= dom_id commodity %>">
  <p>
    <strong>Name:</strong>
    <%= commodity.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= commodity.price %>
  </p>

  <p>
    <strong>Introduction:</strong>
    <%= commodity.introduction %>
  </p>

  <p>
    <strong>Business:</strong>
    <%= commodity.business_id %>
  </p>

  <p>
    <strong>Homepage:</strong>
    <%= commodity.homepage %>
  </p>

  <p>
    <strong>Exist:</strong>
    <%= commodity.exist %>
  </p>

</div>
