<div id="<%= dom_id deal %>">
  <p>
    <strong>Seller:</strong>
    <%= deal.seller %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= deal.customer %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= deal.date %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= deal.comment %>
  </p>

</div>
