<div id="<%= dom_id message %>">
  <p>
    <strong>Date:</strong>
    <%= message.date %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= message.content %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= message.publisher %>
  </p>

  <p>
    <strong>Acceptor:</strong>
    <%= message.acceptor %>
  </p>

</div>
